<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="form">
        <p style="color:red"><b th:text="${anyerror}"></b></p>
        <form method="post",action="/addcategory",th:object="${categoryadd}">
          <h2>Add Category</h2>
          <div class="input-box">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="text" name="category_id" placeholder="Category Id" required>
          </div>
          <div class="input-box">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="text" name="category_name" placeholder="Category Name" required>
          </div>
            <input  style ="color:blue; background-color: brown;"type="submit" name="add-category" value="ADD">
            <br></br>
            <input  style ="color:blue; background-color: brown;"type="button" onclick="location.href='/showcategories';" value= "Added Categories">

          </div>
        </div>
       

      </div>
       



        </form>
        
        
      </div>
    
</body>
</html>