<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css"/>
    <title>Registeration page</title>
</head>
<body>
    <div style="text-align:center">
        <div style="text-align:center">
          <h1>User Registration-Sign Up</h1>
            <form method="post" action="/register" th:object="${registerRequest}" >
              <table class="tab">
                <tr>
            <td><label>E-mail:</label></td>
            <td><input type="text" name="email" required></input></td>
            </tr>
            <p></p>
            <tr>          
            <td><label>Password:  </label></td>
            <td><input type="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required></input></td> 
           </tr>
           <p></p>
           <tr>
            <td><label>First Name:  </label></td>
            <td><input type="text" name="fname" required></input></td>
            </tr>
            <p></p>
            <tr>
             <td><label>Last Name:  </label></td>
            <td><input type="text" name="lname" required></input></td>
            </tr>
            </table>
            <p></p>
            <input type="submit" name="sign-in" value="SignUp">
            </form>
          </div>
          </div>
</body>
</html> 
